.fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
}
.header1{
    display: flex;
    justify-content: center;
}
.main_parrent{
    width: 1280px;
    background-color: rgb(198, 228, 214);
    border-radius: 24px;
    border-radius: 17.04px;
    display:flex;
    gap:64px;
}
.parrent1{
    width: 622px;
    height: 326px; 
    margin:80px 0px 80px 100px; 
}
.parrent2{
    width: 474.03px;
    height: 400px;
    margin:80px 100px 80px 0px;
}
.child1{
    color: rgba(14, 14, 14, 0.5);
    font-weight: 500px;
    font-size: 24px;
    margin-bottom: 16px; 
}
.child2{
    color:rgb(14, 14, 14);
    font-weight: 700px;
    font-size: 56px;
    margin-bottom: 24px;
}
.child3{
    color:rgb(255, 255, 255);
    font-weight: 600px;
    font-size: 18px;
    background-color: rgb(0, 106, 80);
    border-radius: 8px;
    padding: 17px 34px; 
}
.c1{
    color:rgb(14, 14, 14);
    font-weight: 700px;
    font-size: 40px;
    margin-bottom: 24px;
}
.c2{
    color:rgba(14, 14, 14, 0.7);
    font-weight: 400px;
    font-size: 16px;
    margin-bottom: 32px;
}
.c3{
    color:rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700px;
}
.bu1,.bu2,.bu3{
    color:rgb(255, 255, 255);
    font-weight: 600px;
    font-size: 16px;
    padding:11px 20px;
}
.main1{
    display: flex;
    flex-direction: column;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.div1{
    display: flex;
    gap:24px;
}
.box1,.box2,.box3{
    width: 410.67px;
    border-radius: 16px;
    padding:32px;
}
.box1{
    background-color: rgba(84, 144, 245, 0.2);
}
.box2{
    background-color: rgb(198, 228, 214);
}
.box3{
    background-color: rgb(247, 235, 207);
}
.bu1{
    background-color:rgb(84, 144, 245);
    border-radius: 8px;
}
.bu2{
    background-color: rgb(9, 161, 92);
    border-radius: 8px;
}
.bu3{
    background-color: rgb(255, 194, 57);
    border-radius: 8px;
}
.m{
    width: 1280px;
    /* height: 256px; */
    display:flex;
    flex-direction: column;
    background-image: url('B11A1--assignment-1/assets/quote-bg.png');
    background-repeat: no-repeat;
    padding:48px 24px;
    border-radius: 16px;
    margin-top: 32px;
}
.quat1{
    color:rgba(14, 14, 14, 0.8);
    font-weight: 400px;
    font-size: 16px;
    margin: 0px;
    margin-bottom: 12px;
}
.dr{
    color:rgba(14, 14, 14, 0.8);
    font-weight: 600px;
    font-size: 20px;
    margin: 0px;
    margin-bottom: 4px;

}
.ad{
    color:rgba(14, 14, 14, 0.6);
    font-weight: 400px;
    font-size: 16px;
    margin: 0px;
}
.x{
    color:rgb(14, 14, 14);
    font-weight: 700px;
    font-size: 40px;
    margin-bottom: 24px;
}
.y{
    color:rgba(14, 14, 14, 0.7);
    font-weight: 400px;
    font-size: 16px;
}
.card_parrent{
    background-color: rgb(255, 255, 255); 
    border-radius: 24px;
    display: flex;
    padding: 48px;
    gap:32px;
    border:2px solid black; 
    margin-bottom: 15px;
}
.another1{
    width: 408px;
    height: 285px;
    background-image: url('B11A1--assignment-1/assets/satelite.png');
    border-radius: 24px;
    background-color: aliceblue;
    border:black solid 3px;
}
.another2{
    width: 744px;
    height: 290px;
    background-color: aliceblue;
}

.S{
    color:rgba(14, 14, 14, 0.8);
    font-weight: 700px;
    font-size: 32px;
    margin:0px;
    margin-bottom: 12px;
}
.date,.para1{
    color:rgba(14, 14, 14, 0.7);
    font-weight: 400px;
    font-size: 16px;
    margin: 0px;
    margin-top: 12px;
}
.card_button{
    color:rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600px;
    background-color: rgb(0, 106, 80);
    padding: 13px 26px;
    border-radius: 8px;
    margin-top: 32px;
}
.donate{
    color:rgb(14, 14, 14);
    font-weight: 700px;
    font-size: 40px;
}
.text{
    color:rgba(14, 14, 14, 0.7);
    font-weight: 400px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}
.same_div{
    color:rgba(14, 14, 14, 0.8);
    font-weight: 700px;
    font-size: 40px;
    padding: 10px 30px;
}
.exceptional{
    /* background-color:rgba(14, 14, 14, 0.15); */ 
    background-color: gray;
}
.donate_button{
    color: rgb(255, 255, 255);
    font-weight: 600px;
    font-size: 18px;
    background-color: rgb(0, 106, 80);
    padding: 17px 34px;
    border-radius: 8px;
    width: 160px;
    height: 56px; 
    margin-top: 32px;
}
.text-fill{
    color:rgba(14, 14, 14, 0.3);
    font-weight: 400px;
    font-size: 20px;
    padding:20px 40px;
    width: 1032px;
    text-align: center;
    margin-top: 32px;
    border-radius: 8px;
}
.sec_right_now{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1280px;
    height: 464px;
    margin-top: 60px;
    border: 2px solid gray;
    background-color: bisque;
    border-radius: 18px;
}
.inside_div{
    display:flex;
    width: 1071px;
    justify-content: space-evenly;
}
.inside_div>.same_div{
    border-radius: 16px;
}
.par{
    padding: 50px 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.par:hover{
    background-color: aquamarine;
    cursor: pointer;
}
.donate_button:hover{
    background-color: chocolate;
    color: black;
    outline: 5px solid grey;
    cursor: pointer;
}
.same_div:hover{
    background-color: gray;
    box-shadow: 8px 8px 3px gray;
    cursor: pointer;
}
.card_button:hover{
    background-color: green;
    cursor: pointer;
    box-shadow: 5px 5px 3px green;
}
.child3:hover{
    color: black;
    background-color: coral;
    cursor: pointer;
}
.bu1:hover,.bu2:hover,.bu3:hover{
    color: black;
    background-color: darkslategrey;
    cursor: pointer;
}


