.fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
}
.header1{
    display: flex;
    justify-content: center;
}
.main_parrent{
    width: 1280px;
    background-color: rgb(198, 228, 214);
    border-radius: 24px;
    border-radius: 17.04px;
    display:flex;
    gap:64px;
}
.parrent1{
    width: 622px;
    height: 326px; 
    margin:80px 0px 80px 100px; 
}
.parrent2{
    width: 474.03px;
    height: 400px;
    margin:80px 100px 80px 0px;
}
.child1{
    color: rgba(14, 14, 14, 0.5);
    font-weight: 500px;
    font-size: 24px;
    margin-bottom: 16px; 
}
.child2{
    color:rgb(14, 14, 14);
    font-weight: 700px;
    font-size: 56px;
    margin-bottom: 24px;
}
.child3{
    color:rgb(255, 255, 255);
    font-weight: 600px;
    font-size: 18px;
    background-color: rgb(0, 106, 80);
    border-radius: 8px;
    padding: 17px 34px; 
}
.c1{
    color:rgb(14, 14, 14);
    font-weight: 700px;
    font-size: 40px;
    margin-bottom: 24px;
}
.c2{
    color:rgba(14, 14, 14, 0.7);
    font-weight: 400px;
    font-size: 16px;
    margin-bottom: 32px;
}
.c3{
    color:rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700px;
}
.bu1,.bu2,.bu3{
    color:rgb(255, 255, 255);
    font-weight: 600px;
    font-size: 16px;
    padding:11px 20px;
}
.main1{
    display: flex;
    flex-direction: column;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.div1{
    display: flex;
    gap:24px;
}
.box1,.box2,.box3{
    width: 410.67px;
    border-radius: 16px;
    padding:32px;
}
.box1{
    background-color: rgba(84, 144, 245, 0.2);
}
.box2{
    background-color: rgb(198, 228, 214);
}
.box3{
    background-color: rgb(247, 235, 207);
}
.bu1{
    background-color:rgb(84, 144, 245);
    border-radius: 8px;
}
.bu2{
    background-color: rgb(9, 161, 92);
    border-radius: 8px;
}
.bu3{
    background-color: rgb(255, 194, 57);
    border-radius: 8px;
}